body
{
    color: #4a4a4a;
    font-family: 'Ubuntu', sans-serif;
    background-color: #fff;
}
.navbar
{
    font-weight: bold;
    color: #111;
    width: 100%;
    position: fixed;
    background-color: #fff;
    text-transform: uppercase;
    letter-spacing: 4px;
    z-index: 1;
}
.head_padding
{
    padding: 15% 25%;
}
.pading_Info
{
    padding: 5% 25%;
}
.head_info
{
    background-color: #f3f3f3;
    color: #4a4a4a;
    background: linear-gradient(to top,rgba(245,245,245,.8) ,#24309be2),url(https://d33wubrfki0l68.cloudfront.net/daac8858fd4a0ccea44f59dfd079c3c16c263f33/c157c/assets/svg/common-bg.svg);
}
h1
{
    color: white;
    text-shadow: #646FD4 10px 0 10px;
    font-size: 6rem;
    letter-spacing: 0;
    font-weight: 700;
    padding-top: 4rem;
    font-family: 'Montez', cursive;
}
p{
    font-size: 1.2rem;
}
.navbar-brand
{
    color: #4a4a4a;
    font-weight: 500;
}
.navbar-brand:hover
{
    color: #242F9B;
}
h2
{
    color: #232931;
    font-size: 2rem;
    letter-spacing: 1px;
    font-weight: bold;
    padding-top: 5rem;
    text-transform: uppercase;
}
.padder
{
    margin: 0 8%;
}
h3
{
    color: #232931;
}
.hrr hr{
    border-radius: 15%;
    border-top: #646FD4 solid .3rem;
    opacity: 1;
    text-align: center;
    width: 20%;
    max-width: 2.5rem;
}
.skills
{
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
}
.skill
{
    padding: 1rem 2rem;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1rem;
    background: white;
    border-radius: 10px;
    font-weight:700;
    color: #646FD4;
    border: 1px solid #646FD4;
}
.skill:hover
{
    background-color: #646FD4;
    color: white;
}
.nav-link:hover
{
    color: #242F9B;
}
.nav-link
{
    padding: 1rem 0;
}
.contact_form
{
    background-color:white;
    width: 95%;
    border-radius: 1%;
    max-width:50rem;
    padding: 3rem;
}
.contact_Container
{
    padding-bottom: 8rem;
}
.project_inner
{
    width: 100%;
}
.contact__form-input
{
    color: #333;
    padding: 1rem;
    width: 100%;
    border: 1px solid #ebebeb;
    font-size: .8rem;
    letter-spacing: 0;
    background: #f0f0f0;
    border-radius: 5px;
    font-weight: 500;
}
.contact__form-label {
    color: #666;
    font-size: .8rem;
    letter-spacing: 1px;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 1rem;
    display: block;
    text-align: left;
}
footer
{
    color: #f3f3f3;
    background:  #000;
    width: 100%;
    padding: 2rem 2rem;
}
h4
{
    font-size: 1.2rem;
    text-transform: uppercase;
    padding-bottom: 1.5rem;
    font-weight: 700;
    letter-spacing: 2px;
}
.foot_name
{
    font-size: 1rem;
}
.foot_font
{
    font-size: 90%;
}
.footer_hr
{
    text-align: center;
    width: 50%;
}
h6
{
    padding: 1rem 0 1rem 0;
    font-size: .7rem;
}
.social_logo
{
    width: 2rem;
}
.project_image
{
    width: 80%;
    max-width: 40rem;
}
.contact_info
{
    background-color: #f3f3f3;
    color: #4a4a4a;
    background: linear-gradient(to bottom,rgba(245,245,245,.8) ,#24309be2),url(https://d33wubrfki0l68.cloudfront.net/daac8858fd4a0ccea44f59dfd079c3c16c263f33/c157c/assets/svg/common-bg.svg);
}
@media (max-width:850px)
{
    .head_padding{
        padding: 40% 25%;
}
@media (max-width:450px)
{
    h1{
        font-size: 3.5rem;
    }
    .head_info
    {
        padding: 12rem 5rem 18rem 5rem;
    }
}
@media (max-width:390px) {
    h1{
        font-size: 3rem;
    }
    .head_info{
        padding: 8rem 5rem;
    }   
}
}
.btn-outline-primary
{
    border-color: #646FD4;
    color: #646FD4;
}
.btn-outline-primary:hover
{
    background-color: #646FD4;
}
